@use "../sass-utils/variables" as v;

.menu {
  margin: auto;
  filter: drop-shadow(1px 1px 1px v.$color-primary);
  width: 300px;
  z-index: 1;

  .menu-items {
    position: absolute;
    width: 300px;
    .nav-link {
      color: v.$color-primary;
      font-family: v.$font-montserrat-semibold;
      &:hover {
        text-decoration-color: v.$color-primary;
        color: v.$color-primary-dark;
      }
    }
  }

  .menu-items-open {
    pointer-events: auto;
  }

  .menu-items-closed {
    pointer-events: none;
  }

  .arrow {
    transform-origin: 50% 55%;
  }
}
