@use "../sass-utils/variables" as v;

ul,
li {
  list-style: none;
  margin: 0;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: v.$color-primary-light;
}

li {
  color: v.$color-primary;
  display: block;
  transform-origin: -20px 50%;
}
