// $breakpoint_sm:  375px;  //? Mobile
// $breakpoint_sm:  642px;  //? Larger Smartphone, Small Tablet
// $breakpoint_md:  768px;  //? Tablets in Portrait Mode
// $breakpoint_lg:  992px;  //? Larger Tablets or Small Laptop Desktops
// $breakpoint_xl:  1024px; //? Laptops and Smaller Desktop
// $breakpoint_2xl: 1280px; //? Large Desktop

//* Mobile Devices
@include media($breakpoint_xs) { 
    .projects-container {
        .projects-section {
            width: 100%;
            .project.card {
                @include flex($align_items: center);
            }
        }
    }
}

//* Tablet/Computer
@include media($breakpoint_lg) {
    .container {
        min-width: auto;
        max-width: 1200px;
        @include flex($justify_content: center);
        .projects-container {
            max-width: 100%;
            .projects-section {
                @include flex($flex_direction: row);
            }
        }
    }
}

//* Widescreens
@include media($breakpoint_xl) {
    .container {
        .projects-container {
            @include flex($justify_content: space-around);
        }
    }
}
