// $breakpoint_sm:  375px;  //? Mobile
// $breakpoint_sm:  642px;  //? Larger Smartphone, Small Tablet
// $breakpoint_md:  768px;  //? Tablets in Portrait Mode
// $breakpoint_lg:  992px;  //? Larger Tablets or Small Laptop Desktops
// $breakpoint_xl:  1024px; //? Laptops and Smaller Desktop
// $breakpoint_2xl: 1280px; //? Large Desktop

//* Mobile
@include media($breakpoint_xs) {
    .review-card {
        width: 90%;
        text-align: center;
        margin: auto;
        opacity: 1;
        transition: opacity 2s ease-in-out;
        .review-p {
            font-family: $font-montserrat;
        }
        .review-client {
            font-size: 23px;
            font-family: $font-montserrat-light;
        }
        .review-card.fade-out {
            opacity: 0;
        }
        .stars-container {
            width: 65px;
            margin: auto;
            @include flex($flex_direction: row, $justify_content: center);
        } 
    }
    .reviews-btn {
        font-family: $font-montserrat;
        width: 85%;
        font-size: 20px;
        @include flex($justify_content: center);
    }
}

//* Larger Smartphone
@include media($breakpoint_sm) {
    .stars-container {
        width: 75px;
    } 

    .reviews-btn {
        width: 70%;
        font-size: 25px;
        padding: 12px 0
    }
}

//* Laptops/Computers
@include media($breakpoint_lg) {
    .review-container {
        border-radius: 0 175px;
        margin: auto;
        width: 70%;
        @include flex($flex_direction: column);
    }
    .review-card {
        width: 85%;
        .review-client {
            font-size: 27px;
            font-family: $font-montserrat-light;
        } 
    }
    .reviews-btn {
        width: 50%
    }
}
