//* Google Font Montserrat 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100&display=swap');
@import "font-families";  

//* Variables

//* Responsive Design Breakpoints
$breakpoint_xs: 375px;   //? Mobile
$breakpoint_sm: 642px;   //? Larger Smartphone, Small Tablet
$breakpoint_md: 768px;   //? Tablets in Portrait Mode
$breakpoint_lg: 992px;   //? Larger Tablets or Small Laptop Desktops
$breakpoint_xl: 1024px;  //? Laptops and Smaller Desktop
$breakpoint_2xl: 1280px; //? Large Desktop

//* Font Family Styles
$font-montserrat: 'Montserrat-Medium', sans-serif;
$font-montserrat-light: 'Montserrat-Light', sans-serif;
$font-montserrat-regular: 'Montserrat-Regular', sans-serif;
$font-montserrat-semibold: 'Montserrat-SemiBold', sans-serif;
$font-montserrat-bold: 'Montserrat-Bold', sans-serif;
$font-montserrat-extra-bold: 'Montserrat-ExtraBold', sans-serif;
$font-montserrat-italic: 'Montserrat-Italic', sans-serif;

h1 {
    font-family: $font-montserrat;
    font-weight: 400;
}

h2 {
    font-family: $font-montserrat-regular;
    font-weight: 500;
}

a {
    font-family: $font-montserrat-regular;
    font-weight: 500;
}

p {
    font-family: $font-montserrat-light;
    font-weight: 300;
}

.btn-2, .btn-3 {
    font-family: $font-montserrat-semibold;
}

.project-card-heading {
    font-family: $font-montserrat-semibold;
}

.footer-text {
    font-family: $font-montserrat-light;
    font-weight: 100;
}

//* Mixin for Media Queries
@mixin media($breakpoint) {
    @media only screen and (min-width: $breakpoint){
        @content;
    }
}

//* Flexbox Mixin
@mixin flex($flex: flex, $flex_direction: null, $justify_content: null, $align_items: null) {
    display: $flex;
    @if $flex_direction != null {
        flex-direction: $flex_direction;
    }
    @if $justify_content != null {
        justify-content: $justify_content;
    }
    @if $align_items != null {
        align-items: $align_items;
    }
  }

//* SCSS File Imports 
@import "_header";
@import "_projects";